body {
	margin:0;
}

/* Styles for the navigation bar */
ul.nav_bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #053b50;
	position: fixed;
	top: 0;
	width: 100%;
}

li.nav_bar {
	float: left;
	color: #eeeeee;
	width: 10em;
}

li.nav_bar a.nav {
	display: block;
	padding: 14px 16px;
	color: #eeeeee;
	text-align: center;
	text-decoration: none;
}

li a.active.nav {
	background-color: #64ccc5;
	color: white;
	cursor:default;
}

li a.nav:hover:not(.active) {
	background-color: #176b87;
	color: white;
}

/* Styles for main page content */
.content {
	padding:20px;
	margin-top:30px;
	background-color:#eeeeee;
	height:1500px;
	color: 053b50
}

/* Styles for game cards. Could maybe be spun off into its own file and just called on main page. */
.game_card {
	width:350px;
	background-color:#d1d1d1;
	margin:20px 50px;
	height:490px;
	border-radius:20px;
	float:right;
}

.game_card h1 {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.game_card p {
	padding:1px;
	text-align:center;
	margin: 5px;
}

.game_card_img {
	width:300px;
	margin:25px 25px 5px 25px;
	border-color:#64ccc5;
	border-style:solid;
	border-width:medium;
	border-radius:20px;
}

.game_card_logo {
	margin:20px;
	height:40px;
	display:block;
}

/*Grid for image links*/
.game_links {
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
}

.game_link {
	max-width: 100%;
	height: auto;
	display: block;
}